<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern> %d{HH:mm:ss} [%thread] %-5level %logger{36} --%msg%n</pattern>
            </encoder>
</appender>
<appender name="File" class="ch.qos.logback.core.FileAppender">
    <file>tests.log</file>
    <append>true</append>
    <encoder>
        <pattern>%d{HH:mm:ss} [%thread] %-5level %logger-{35} - %msg%n</pattern>
    </encoder>
</appender>
    <root level="debug">
    <appender-ref ref= "STDOUT"/>

    </appender-ref ref="FILE"/>
    </root>
</configuration>